{% extends 'articles/base.html' %}
{%load static%}
{% block body_block %}
<div class="borderimg">
<div class="base">
<div class="clear"></div>
<div class="container">
    <h1><img src="{% static '\images\IDESTModern_dark.png' %}" style="max-width: 100%;" alt="No image"></h1>
    <div class="clear"></div>
    <h2 style="text-align:center">IE Art Historians</h2>
    <hr>
    <p>Id Est is a website dedicated to make an archive of the artists and musicians from the Inland Empire.</p>
    <p>Our goal is to make IE art more accessible for audiences to find through this site, as well as give an outlet for IE artists to expose their work.</p>
    <p>We hope that doing this leads to artists finding a wider audience which further allows the Inland Empire artists to flourish.</p>
    <div class="clear"></div>

    <p>For now, our commitment is for this region alone so we will highlight only artist that self-identify as having started in the IE.</p>
    <p>While we believe that it is impossible to be truly un-biased, in an effort to be transparent we want to be open about what we look into before deciding to interview/ highlight an artist:</p>


    <ul style="font-size: 1.5em;">
        <li>Have started in the IE</li>
        <li>Have a good reputation within the region</li>
        <li>Have played at least 6 shows</li>
        <li>OR</li>
        <li>Have 2,000 followesrs and 5,000 monthly listeners</li>
    </ul>

    <div class="clear"></div>
    
    <p>Needless to say it is impossible to highlight all artist equally, but we will try to be as un-biased as possible in our coverage.</p>
    <p>Our goal is to be a resource that does not play favorites, doesn't focus on making money and gives attention to artist that might be under the radar as well as those that are gaining momentum.</p>
    <p>If you believe that we are ot living up to these standards we have written, or simply wanna chat/ collaborate/ make suggestions hit us up at idestwebsite@gmail.com</p>

    <div class="clear"></div>
</div>
</div></div>

{% endblock %}