{% extends 'articles/base.html' %}
{%load static%}
{% block body_block %}
<div class="borderimg">
<div class="base">
<div class="clear"></div>
<div class="container">
    <h1><img src="{% static '\images\IDESTModern_dark.png' %}" style="max-width: 100%;" alt="No image"></h1>
    <div class="clear"></div>
    <h2 style="text-align:center">IE Art Historians</h2>
    <hr>
    <p>Id Est is a online zine dedicated to make a history of the artists and musicians from the Inland Empire.</p>
    <p>Our goal is to make IE art more accessible for audiences to find through this zine, as well as give an outlet for IE artists to expose their work.</p>
    <p>We hope that doing this leads to artists finding a wider audience which further allows the Inland Empire artists to flourish.
    </p>

    <div class="clear"></div>
</div>
</div></div>

{% endblock %}