{% extends 'articles/base.html' %}
{%load static%}
{% block body_block %}
<div class="borderimg">
<div class="base">
<div class="clear"></div>
<div class="container">
    <h1>New Comment</h1>
    <form class="post-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-primary">Post Comment</button>

    </form>
    <p>Comments have to be approved by admin before being posted</p>
</div>
<script>var editor = new MediumEditor('.editable');</script>
</div></div>

{% endblock %}