{% extends 'articles/base.html' %}
{%load static%}
{% block body_block %}
<div class="borderimg">
<div class="base">
<div class="clear"></div>
<h1>Welcome!</h1>
<p class="">This has no class. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed adipisci, maiores sequi eveniet eaque debitis magni in! Sequi nobis voluptatibus pariatur labore eligendi recusandae expedita, quis debitis corrupti. Dolorem!
</p>
<p class="">This is courier. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dicta sapiente placeat vero quam ea, soluta nam itaque aperiam repellendus enim perspiciatis magni quo eius adipisci voluptatum hic, cum illo.</p>
<p class="compagnon">This is compagnon. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officiis, minus explicabo rem voluptate ullam nam soluta! Dolor maiores illum ut necessitatibus, sint voluptate reprehenderit nam a corporis quidem aliquid.</p>

<p class="compagnon">This is nixie. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, assumenda aspernatur maiores sint perferendis pariatur ea nulla aperiam laborum commodi eaque. Eos perferendis nostrum totam nisi in hic soluta amet.</p>
<p class="compagnon">This is nimbus, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam dolor, distinctio libero eum accusamus quam soluta reprehenderit, dolores sed assumenda atque saepe, in ex cumque! Quod ex molestias dignissimos cum?</p>
<p class="monospace">This is monospace. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate illo quibusdam aut reprehenderit id aperiam at nesciunt dolor quaerat, harum tenetur maxime corrupti quod impedit ipsam numquam quia ab?</p>
</div></div>
{% endblock %}