argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
bcrypt==4.0.1
cachetools==5.3.1
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.2.0
Django==5.0.6
django-filter==22.1
django-storages==1.13.2
django-taggit==6.1.0
django-taggit-serializer==0.1.7
djangorestframework==3.14.0
Faker==15.3.2
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
gunicorn==20.1.0
httplib2==0.22.0
idna==3.4
Markdown==3.4.1
Pillow==9.3.0
protobuf==4.24.1
psycopg2==2.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.5.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==1.26.16
whitenoise==6.3.0
wincertstore==0.2
