.postimg2{
    align-self: center;
    object-fit: cover;
    aspect-ratio: 1.6;
    max-width: auto;
    
}
.featuredImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-height: 1000px;
    height: auto;
    object-fit: contain;
    box-shadow: 0px 7px 5px #282828;
    -moz-box-shadow: 0px 7px 5px #282828;
    -webkit-box-shadow: 0px 7px 5px #282828;
    -khtml-box-shadow: 0px 7px 5px #282828;
    margin-top: 5%;
    background-color: black;
}
.tape{
    width: 79%;
    object-fit: cover;
    z-index: 1;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 79%;
    transform: translateY(-7%);
    
}
@media screen and (max-width: 768px) {
    .tape{
        width: 93%;
        
        transform: translateY(-7.6%);
        /*background-color: rgb(0, 170, 65);*/
    }
    .featuredImage{
        width: 95%;
    }
    
}
@media screen and (min-width: 769px) {
    .tape{
        width: 79%;
        
        transform: translateY(-7%);
        /*background-color: rgb(11, 0, 161);*/
    }
    
}
@media screen and (max-width: 420px) {
    .tape{
        width: 90%;
        
        transform: translateY(-7.6%);
        /*background-color: rgb(122, 0, 0);*/
    }
    .featuredImage{
        width: 95%;
    }
    
}
@media screen and (max-width: 290px) {
    .tape{
        width: 83.5%;
        
        transform: translateY(-7.6%);
        /*background-color: black;*/
    }
    .featuredImage{
        width: 95%;
    }
    
}